.DS_Store
*.log
*.tmp
*.swp
*.bak
*.out
*.class
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
venv/
.env/
*.egg-info/
.ipynb_checkpoints/
*.ipynb_checkpoints/
api/target/
*.jar
*.war
*.ear
.mvn/
.settings/
.classpath
.project
postgres_data/
mysql/data/
*.sql~
*.db
*.sqlite3
*.avro
*.parquet
*.crc
*_SUCCESS
*.snappy
*.sequence
hadoop/tmp/
spark-warehouse/
*.pid
*.log
*.tar
.docker/
docker-compose.override.yml
*.zip
*.tar.gz
*.7z
*.csv~
*.xlsx~
